<h2>Change Password</h2>
        <form (ngSubmit)="onSubmit()">
            <label for="oldPassword">Old Password:</label>
            <input id="oldPassword" type="password" [(ngModel)]="passwords.oldPassword" name="oldPassword" required />
            <label for="newPassword">New Password:</label>
            <input id="newPassword" type="password" [(ngModel)]="passwords.newPassword" name="newPassword" required />
            <button type="submit">Change Password</button>
        </form>
        <p *ngIf="message">{{ message }}</p>